.breadcrumb > .active {
  color : #777 !important;
}

.post-content img {
  width      : auto;
  max-width  : 100%;
  height     : auto;
  max-height : 100%;
  margin     : 12px 0 3px 0;
}

.post-content ol li,
.post-content ul li {
  margin : 10px 0;
}

.pageSummary {
  display       : block;
  margin-bottom : 15px;
  padding-left  : 20px;
  font-size     : 13px;
}

.post-summary {
  margin-bottom : 12px;
}

.breadcrumb li {
  color : gray;
}

caption {
  padding-top    : 8px;
  padding-bottom : 8px;
  color          : #777;
  text-align     : left;
}

p.external a {
  display    : inline;
  color      : #0088cc;
  text-align : right;
  font-size  : 12px;
}

#definition-box-container div a.active {
  font-weight : bold;
}

/* search area */

#search-demo-container ul#results-container {
  z-index          : -1;
  position         : absolute;
  top              : 40px;
  left             : 20px;
  width            : 223px;
  border-left      : 1px solid #dedede;
  background-color : white;
  box-shadow       : 2px 3px 2px #dedede;
  font-size        : 12px;
  list-style       : none;
  /* if you change anything about the nav, you'll prob. need to reset the top and left values here. */
}

/* make room for the nav bar */

dt[id],
h1[id],
h2[id],
h3[id],
h4[id],
h5[id],
h6[id] {
  margin-top  : -40px;
  padding-top : 60px;
}

ul#results-container a {
  background-color : transparent;
}

ul#results-container a:hover {
  color : black;
}

#search-demo-container a:hover {
  color : black;
}

#search-input {
  -moz-box-sizing    : border-box;
  -webkit-box-sizing : border-box;
  box-sizing         : border-box;
  width              : 20em;
  float              : right;
  margin-top         : 10px;
  margin-left        : 20px;
  padding            : .5em;
  font-size          : 0.8em;
}

/* end search */

.navbar-inverse .navbar-nav > li > a {
  margin-top       : 10px;
  background-color : transparent;
}

footer {
  font-size : smaller;
}

/* FAQ page */

#accordion .panel-heading {
  font-size : 12px;
}

a.accordion-collapsed,
a.accordion-toggle {
  text-decoration : none;
  font-size       : 14px;
}

/* navgoco sidebar styles (customized) */

.nav,
.nav li,
.nav ul {
  list-style : none;
}

.nav ul {
  margin  : 0;
  padding : 0;
  /* margin: 0 0 0 18px; */
}

.nav {
  /* padding: 4px; */
  margin  : 0;
  padding : 0;
}

.nav > li {
  margin : 1px 0;
}

.nav > li li {
  margin : 2px 0;
}

.nav a {
  display         : block;
  color           : #333;
  outline         : none;
  text-decoration : none;
}

.nav li > a > span {
  float       : right;
  font-size   : 19px;
  font-weight : bolder;
}

.nav li > a > span:after {
  content : '\25be';
}

.nav li.open > a > span:after {
  content : '\25b4';
}

.nav a:focus,
.nav a:hover,
.nav li.active > a {
  color            : #f5f5f5;
  background-color : #8D8D8D;
}

.nav > li.active > a {
  background-color : #347DBE;
}

.nav li a {
  padding          : 2px 10px;
  background-color : #f1f1f1;
  line-height      : 18px;
}

.nav > li > a {
  padding     : 4px 10px;
  line-height : 20px;
}

ul#mysidebar {
  border-radius : 0;
}

ul.nav li ul {
  font-size : 10pt;
}

.nav ul li a {
  background-color : #FAFAFA;
}

.nav li a {
  padding-right : 10px;
}

.nav li a:hover {
  background-color : #8D8D8D;
}

.nav ul li a {
  padding-left : 10px;
  border-top   : 1px solid whitesmoke;
}

/* end sidebar */

.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:focus,
.navbar-inverse .navbar-nav > .active > a:hover {
  border-radius : 5px;
}

.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.open>a:focus,
.navbar-inverse .navbar-nav>.open>a:hover {
  border-radius : 5px;
}

.footer {
  text-align : right;
}

figcaption {
  max-width      : 90%;
  margin-bottom  : 20px;
  padding-top    : 6px;
  padding-bottom : 12px;
  color          : gray;
  font-style     : italic;
}

.navbar-inverse .navbar-nav > li > a,
a.dropdown-toggle {
  margin-left : 10px;
}

a[data-toggle] {
  color : #248EC2;
}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus,
.nav-tabs > li.active > a:hover {
  color            : white;
  background-color : #248ec2;
}

ol li ol li {
  list-style-type : lower-alpha;
}

ol li ul li {
  list-style-type : disc;
}

li img {
  clear : both;
}

div#toc ul li ul li {
  margin          : 5px 0 0 0;
  list-style-type : none;
}

.tab-content {
  padding          : 15px;
  background-color : #FAFAFA;
}

div.tags {
  padding : 10px 5px;
}

.tabLabel {
  font-weight : normal;
}

hr {
  width         : 90%;
  margin        : 30px 0;
  margin-right  : auto;
  margin-left   : auto;
  border        : 0;
  border-bottom : 1px dashed #ccc;
  background    : #999;
}

a[data-toggle="tooltip"] {
  color      : #649345;
  font-style : italic;
  cursor     : default;
}

.seriesContext,
.seriesNext {
  margin-top    : 15px;
  margin-bottom : 15px;
}

.seriescontext ol li {
  list-style-type : upper-roman;
}

ol.series li {
  margin-left     : 40px;
  padding-left    : 0;
  list-style-type : decimal;
}

.nav ul.series li {
  font-size  : 12px;
  list-style : decimal;
}

.nav ul.series li a:hover {
  background-color : gray;
}

.nav ul.series {
  padding-left : 30px;
}

.nav ul.series {
  background-color : #FAFAFA;
}

/* a.dropdown-toggle.otherProgLangs { color: #f7e68f !important; } */

table code {
  background-color : transparent;
}

video {
  display : block;
  margin  : 30px 0;
  border  : 1px solid #c0c0c0;
}

dd {
  margin-left : 20px;
}

@media (max-width: 767px) {
  .navbar-inverse .navbar-nav .open .dropdown-menu > li > a {
    color : #444;
  }
}

@media (max-width: 990px) {
  #mysidebar {
    position : relative;
  }
}

@media (min-width: 1000px) {
  ul#mysidebar {
    width : 225px;
  }
}

@media (max-width: 900px) {
  ul#mysidebar {
    max-width : 100%;
  }
}

.col-md-9 img {
  max-width  : 100%;
  max-height : 100%;
}

@media only screen
       and (min-width : 900px) {
  .col-md-9 img {
    max-width  : 700px;
    max-height : 700px;
  }
}

@media only screen
       and (min-device-width : 900px) {
  .col-md-9 img {
    max-width  : 700px;
    max-height : 700px;
  }
}

*:hover > .anchorjs-link {
  text-decoration : none;
  transition      : color .25s linear;
}

time {
  margin-right : 10px;
}

a code {
  color : ##2156a5;
}

table th code {
  color : white;
}

ol li ul li ol li {
  list-style : decimal;
}

ol li ul li ol li ul li {
  list-style : disc;
}

#userMap {
  min-width  : 770px;
  padding    : 20px;
  overflow-x : auto;
  overflow-y : auto;
}

#userMap .active {
  border           : 1px solid #555;
  background-color : #d6f5d6;
  font-weight      : bold;
}

h2.userMapTitle {
  font-family : Arial;
}

#userMap a:hover {
  text-decoration : none;
}

div.arrow {
  max-width    : 50px;
  margin-right : 15px;
  margin-left  : 15px;
  font-size    : 20px;
}

#userMap div.arrow,
#userMap div.content {
  float : left;
}

.clearfix {
  clear : both;
}

#userMap div.arrow {
  position : relative;
  top      : 30px;
}

#userMap .btn-lg {
  width  : 100px;
  height : 80px;
}

#userMap .complexArrow {
  margin    : 0 10px;
  font-size : 22px;
}

#userMap .btn-lg .active {
  background-color : #d6f5d6;
}

#userMap .btn-lg {
  font-size   : 14px;
  white-space : pre-wrap;
  white-space : -moz-pre-wrap;
  white-space : -pre-wrap;
  white-space : -o-pre-wrap;
  word-wrap   : break-word;
  /* css-3 */
  /* Mozilla, since 1999 */
  /* Opera 4-6 */
  /* Opera 7 */
  /* Internet Explorer 5.5+ */
}

/**
 * Let's target IE to respect aspect ratios and sizes for img tags containing SVG files
 *
 * [1] IE9 [2] IE10+
 */

/* 1 */

.ie9 img[src$=".svg"] {
  width : 100%;
}

/* 2 */

@media screen
       and (-ms-high-contrast : active),
       (-ms-high-contrast: none) {
  img[src$=".svg"] {
    width : 100%;
  }
}
