{% assign sidebar = site.data.nested.entries %}

<ul id="mysidebar" class="nav">
    <li class="sidebarTitle">{{sidebar[0].product}} {{sidebar[0].version}}</li>
    {% for entry in sidebar %}
    {% for folder in entry.folders %}
    <!-- This is the top-level of the sidebar nav. It's possible to make this a link instead of just a header,
         but I wasn't able to then figure out how to make the folder items expand.
         To make the top-level a link, replace <a href="#"> with <a href="{{folder.url | remove: "/"}}"> -->
    <li>
        <a href="#">{{ folder.title }}</a>
        <!-- This is the enumeration of the 2nd level of the sidebar nav -->
        <ul>
            {% for folderitem in folder.folderitems %}
            {% if page.url == folderitem.url %}
            <li class="active"><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
            {% else %}
            <li><a href="{{folderitem.url | remove: "/"}}">{{folderitem.title}}</a></li>
            {% endif %}
            <!-- This section allows for another subsection -->
            {% for subfolders in folderitem.subfolders %}
            <li class="subfolders">
                <a href="#">{{ subfolders.title }}</a>
                <ul>
                    {% for subfolderitem in subfolders.subfolderitems %}
                    {% if page.url == subfolderitem.url %}
                    <li class="active"><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                    {% else %}
                    <li><a href="{{subfolderitem.url | remove: "/"}}">{{subfolderitem.title}}</a></li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </li>
            {% endfor %}
            {% endfor %}
        </ul>
        {% endfor %}
        {% endfor %}
        <!-- if you aren't using the accordion, uncomment this block:
           <p class="external">
               <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
           </p>
           -->
    </li>
</ul>
</div>

<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("li.active").parents('li').toggleClass("active");</script>
