{% assign sidebar = site.data.sidebar.entries %}

<ul id="mysidebar" class="nav">
  <li class="sidebarTitle">{{sidebar[0].product}} {{sidebar[0].version}}</li>
  {% for entry in sidebar %}
  <!-- This is the top-level of the sidebar nav. -->
  <!-- clicking on the link will open the page, clicking on the "caret" to the right of the link
       will stay on the same page, but according the sidebar to show this folder -->
  {% for folder in entry.folders %}
  <li>
    <a href="{{folder.url | remove: "/"}}">{{ folder.title }}</a>
    {% if folder.folderitems.size > 0 %}
    <ul>
      {% for folderitem in folder.folderitems %}
      <li>
        <a href="{{ folderitem.url | remove: "/" }}">{{ folderitem.title }}</a>
        {% if folderitem.subfolders.size > 0 %}
        <ul>
          {% for subfolder in folderitem.subfolders %}
          <li class="subfolders">
            <a href="{{ subfolder.url | remove: "/" }}">{{ subfolder.title }}</a>
          </li>
          {% endfor %}
        </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>
    {% endif %}
  </li>
  {% endfor %}
  {% endfor %}
</ul>
{% comment %}
<!-- if you aren't using the accordion, uncomment this block:
     <p class="external">
       <a href="#" id="collapseAll">Collapse All</a> | <a href="#" id="expandAll">Expand All</a>
     </p>
     -->
{% endcomment %}

<!-- set the current page to active -->
<!-- this highlights the active parent class in the navgoco sidebar. this is critical so that the parent expands when you're viewing a page. This must appear below the sidebar code above. Otherwise, if placed inside customscripts.js, the script runs before the sidebar code runs and the class never gets inserted.-->
<script>$("#mysidebar a[href='{{ page.shortname }}.html']").parents('li').toggleClass("active", true);</script>
