#
# This file serves 2 purposes:
#  1. it is passed to jekyll as a config override to set asciidoctor attributes
#     jekyll --config _config.yml,_data/adoc-attributes.yml
#  2. it is kept in the _data dir so that liquid templates have access the attributes defined here
#
#
# Before any of this happens, Ant converts adoc-attributes.yml.template to adoc-attributes.yml
# and performs ant property substitution.
#

# NOTE: If you add any attributes here for use in adoc files, you almost certainly need to also add
# them to the <asciidoctor:convert/> ant task for building the PDF as well.

asciidoctor:
  attributes:
    icons: "font"
    source-highlighter: "pygments"
    pygments-css: "style"
    imagesdir: refguide/images/
    solr-docs-version: "${solr-docs-version}"
    solr-javadocs: "${solr-javadocs}"
    lucene-javadocs: "${lucene-javadocs}"
